@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  background-color: #d61e1e;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  height: 82px;
}

header img {
  height: 100px;
  width: 100px;
}

header h1 {
  margin: auto;
}

main {
  display: flex;
  flex-grow: 1;
}

.side-menu {
  background-color: #333;
  width: 125px;
  border-radius: 3px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.menu-list li {
  margin-bottom: 10px;
}

.menu-list li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #f6efef;
  text-align: center;
}

.menu-list li a:hover {
  background-color: #a09f9f;
}

.race-reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#circuits-wallpaper {
  width: 100%;
  height: 621px;
  border-radius: 20px;
  margin: 2px;
}

.race-review{
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0px;
  background-color: #f5f5f5;
  width: 13%;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 5px solid rgb(150, 54, 191);
  margin: 2px;
  }

.race-review:hover {
  background-color: #38383f;
  color: #ffffff;
}
  
.race-image{
  width: 150px;
  height: 150px;
  border-radius: 20%;
}

.race-name {
margin-top: 10px;
font-size: 20px;
font-weight: bold;
text-align: center;
}


.circuit-country {
  margin: 5px;
}

.circuit-name::before {
  content: "Circuit: ";
  font-weight: bold;
  }
  
.circuit-name {
  margin: 5px;
  text-align: center;
}

.race-year::before {
content: "Year: ";
font-weight: bold;
}

.race-year {
  margin: 5px;
}

.race-round::before {
  content: "Round: ";
  font-weight: bold;
  }
  
.race-round {
  margin: 5px;
}

.search {
  display: flex;
  background-color: rgb(227, 226, 226);
  justify-content: center;
  padding: 1px;
}

.input-number {
  width: 2.5%;
  text-align: center;
  margin-right: 15px;
}

.search-op {
  background-color: rgb(227, 226, 226);
  border: none;
  font-weight: bold;
  margin-left: 3px;
  margin-right: 3px;
}

.search-button {
  margin-right: 100px;
}

select {
  text-align: center;
}

.sort-select {
  margin-right: 10px;
}

.fi {
  border-radius: 25%;
  width: 100px;
  height: 50px;
}

#suggestionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

#suggestionsList li {
  padding: 8px;
  cursor: pointer;
}

#suggestionsList li:hover {
  background-color: #f1f1f1;
}